
/* BODY */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');


svg {
  width: 100%;
  height: 100%;
}

p,
li {
  line-height: 30px;
  font-weight: 300;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}

body {
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.section > div, .footer{
  padding: 0 20px;
}

@media (min-width: 768px) {
  .section, .footer{
    padding: 0 50px;
  }

  }

/* SECTION ONE */


@media (min-width: 1500px) {


.container {
    position: relative;
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;

    scroll-snap-type: y mandatory;
  }
  .section {
    flex-direction: column;
    height: 100vh;
    scroll-snap-align: start;
  }
  
  .footer {
    flex-direction: column;
    scroll-snap-align: start;
    height: 50vh;

  } 
}

.section .icon {
  width: 100%;
}

.section__welcome--title {
  width: 100%;
  white-space: nowrap;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.section__welcome--title .button {
  margin-top: 75px;
  background: #15141a;
}



.section__welcome--subtitle {
  font-weight: 300;
  font-size: 15px;
  white-space: initial;
}

.section__welcome--title .title{
  font-family: system-ui;
}

.section__welcome--title .title p {
  font-weight: bold;
  font-size: 31px;
  font-family: system-ui
}

.section__welcome--title .title img {
  height: 37px;
}

@media (min-width: 768px) {
  .section__welcome--title .title p {
    font-weight: bold;
    font-size: 85px;
  }

  .section__welcome--subtitle {
    font-size: 18px;
    white-space: pre-line;
  }

  .section__welcome--title .title img {
    height: 75px;
  }
}

@media (min-width: 1440px) {
  .section__welcome--title .title p {
    font-weight: bold;
    font-size: 95px;
  }

  .section__welcome--title .title p:nth-child(1){
    margin-block-end: 20px;
  }

  .section__welcome--title .title p:nth-child(2){
    margin-block-start: 57px;
  }

  .section__welcome--title .title img {
    height: 95px;
  }
}

.button {
  border-radius: 36px;
  color: #ffffff;
  padding: 15px 38px;
  width: 200px;
  border: none;
  font-size: 18px;
  background: #2f2f2f;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  font-weight: 500;
  transition: box-shadow 300ms ease;
}

.button:hover{
  box-shadow: 0px 10px 20px #2f2f2f;
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__information {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 50px;
}

.section__information figure {
  display: none;
}

.section__information.second {
  display: none;
}

.section__information figure {
  margin: 0 auto;
}

.section__information--info {
  width: 100%;
}

.section__information--info h2 {
  font-size: 35px;
}

.section__information--info p.second {
  margin-top: 50px;
}



@media (min-width: 768px) {
  .section__information.second {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1440px) {
  .section__information {
    flex-direction: row;
  }

  .section__information figure {
    width: 331px;
    display: block;
    margin-left: auto;
  }

  .section__information--info {
    width: 851px;
    margin-right: 95px;
  }
}

/* HOME */

.section__home {
  display: flex;
  height: 590px;
  flex-direction: column-reverse;
  justify-content: center;
}

.section__home--title {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.section__home--title p {
  display: none;
}

.section__home--title::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 36px;
  background-color: #2f2f2f;
}

.section__home--title p {
  font-weight: 500;
  font-size: 50px;
  line-height: 65px;
}

.section__home--title h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 42px;
}

.section__home--title span {
  font-weight: 100;
  font-size: 35px;
  line-height: 42px;
  display: block;
}

.section__home figure {
  width: 60%;
  height: 505px;
  width: 100%;
  margin: 0;
  height: 300px;
}
.section__home--text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



.section__home--text .text {
  display: none;
}

.section__home--text p.second {
  margin-top: 35px;
}

.section__home figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section__home span {
  font-weight: 300;
}

.section__home button {
  border-radius: 8px;
  color: #ffffff;
  padding: 10px 27px;
  width: 200px;
  border: none;
  font-size: 18px;
}

.section__home--text .text {
  display: none;
}

.section.third button{
  background: #ffa000;
}

.section.four button {
  background-color: #0080db;
}

.section.five button {
  background-color: #5451e8;
}


@media (min-width: 768px) {
  .section__home figure {
    height: 300px;
  }

  .section__home--text button{
    margin-top: auto;
    margin-bottom: 100px;
  }

  .section__home--title span {

    display: initial;
  }

  .section__home--title p {
    display: inline-block;
  }


  
}

@media (min-width: 1024px) {
  .section__home--text .text {
    display: block;
  }
  .section__home--text {
    width: 40%;
  }
  .section__home figure {
    width: 55%;

    position: absolute;
    right: 0;
    height: 520px;
    display: block;
  }
  .section__home {
    flex-direction: unset;
    justify-content: space-between;
  }

  .section.third button{
    background: #ffa000;
    transition: box-shadow 300ms linear;
  }
  
  .section.four button{
    background-color: #0080db;
    transition: box-shadow 300ms linear;
  }
  
  .section.five button{
    background-color: #5451e8;
    transition: box-shadow 300ms linear;
  }

  .section.third button:hover{
    box-shadow: 0px 0px 30px -5px #ffae38;
  }
  
  .section.four button:hover{
    box-shadow: 0px 0px 30px -5px #198eed;
  }
  
  .section.five button:hover{
    box-shadow: 0px 0px 30px -5px #5451e8;
  }
}

@media (min-width: 1440px) {
  .section__home--title::before {
    bottom: 50px;
  }
}



.section.gray {
  background-color: #f8f8f8;
}



/* FOOTER */
.footer {
  background-color: #171e29;
  color: #ffffff;
  position: relative;
}

.footer__content {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  justify-content: space-between;
}


.footer__item {
  width: 100%;
  padding-top: 40px;
}

.footer__item--title {
  font-weight: bold;
  font-size: 42px;
  margin: 0;
}

.footer__item--subtitle {
  font-size: 26px;
  margin: 0;
}

.footer__item--subtitle,
.footer__item--title {
  margin-bottom: 42px;
}

.footer__item--content {
}

.footer__content .footer__item:last-child{
  margin-bottom: 60px;
}

.footer li,
.footer a {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
  color: white;
  text-decoration: none;
}

.footer img {
  margin-right: 18px;
}

.footer__copy {
  padding: 15px 0;
  left: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  background-color: #15141a;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

@media (min-width: 1200px) {
  .footer__content {
    flex-direction: row;
  }

  .footer__copy {
    margin-top: 70px;
  }

  .footer__item--title {
    font-size: 52px;
  }

  .footer__content .footer__item:last-child{
    margin-bottom: 0;
  }

  .footer__content{
    padding-bottom: 50px;
  }
}

@media (min-width: 1440px) {
  .section,
  .header,
  .footer__content {
    padding: 35px 140px;
  }
}

@media (min-width: 768px) {
  .footer__item {
    width: 300px;
  }

  .footer__content{
    padding-right: 0;
  }
}